.{$PREFIX}-cell
  &_arrow1
    min-height: 50px
    background-color: #fff
    border-bottom: 1px solid $color_b1
    display: flex
    align-items: center
    padding: 12px
    &-title
      flex-shrink: 0
      color: $color_t2
      font-size: $size6
      margin-right:12px
    &-content
      color: $color_t1
      font-size: $size4
      flex-grow: 1
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis
      text-align: right
    &-icon
      $icon("component_arrow_right@3x")
      width: 30px
      height: 30px
      flex-shrink: 0
      margin: 0 -4px 0 8px

  &_arrow2
    min-height: 50px
    background-color: #fff
    border-bottom: 1px solid $color_b1
    display: flex
    align-items: center
    padding: 12px
    &-title
      color: $color_t1
      font-size: $size4
      flex-grow: 1
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis
    &-icon
      $icon("component_arrow_right@3x")
      width: 30px
      height: 30px
      flex-shrink: 0
      margin: 0 -4px 0 8px

  &_text
    min-height: 50px
    background-color: #fff
    border-bottom: 1px solid $color_b1
    display: flex
    align-items: center
    padding: 12px
    &-title
      flex-shrink: 0
      color: $color_t2
      font-size: $size6
      margin-right: 12px
    &-content
      color: $color_t1
      font-size: $size4
      flex-grow: 1
      text-align: right

  &_paragraph
    min-height: 50px
    background-color: #fff
    border-bottom: 1px solid $color_b1
    padding: 12px
    &-title
      color: $color_t2
      font-size: $size6
      margin-bottom: 8px
    &-content
      color: $color_t1
      font-size: $size4
