.{$PREFIX}-empty
  text-align: center
  position: absolute
  left: 0
  top: 20%
  width: 100%
  &-img
    $icon("empty_page")
    display: block
    width: 175px
    height: 115px
    margin: 0 auto
  &-text
    margin-top: 15px
    font-size: $size3
    color: $color_t3
  &-btn
    margin-top: 10px
    font-size: $size4
    color: $color_main1
