.{$PREFIX}-empty
  display: block
  text-align: center
  margin-top: 50px
  &-img
    display: block
    width: 175px
    margin: 0 auto
  &-text
    $reset()
    margin-top: 15px
    font-size: $size3
    color: $color_t3