$reset()
  margin: 0
  padding: 0

$reset_ctrl()
  $reset()
  font-size: inherit
  font-weight: inherit
  color: inherit
  border: none
  background-color: transparent
$rest_ul()
  $reset()
  list-style: none