$COUNT = 4

.{$PREFIX}-segment
  color: #a3e2ff
  font-size: $size3
  height: 34px
  display: flex
  overflow-x: auto
  background-color: $color_main1
  box-shadow: 0 2px 4px alpha(#000, 0.5)
  &-item
    flex-shrink: 0
    min-width: 25%
    max-width: 100%
    // &:first-child:last-child
    //   width: 100%
    for i in 1..$COUNT
      &:first-child:nth-last-child({i}), &:first-child:nth-last-child({i}) ~ &
        width: (100% / i)
    display: flex
    justify-content: center
  &-box
    display: flex
    align-items: center
    position: relative
    margin: 0 10px
  &-box2
    position: relative
  &-text
    $reset_ctrl()
    white-space: nowrap
    max-width: 100%
    text-overflow: ellipsis
    overflow: hidden
  &-mark
    font-style: normal
    font-size: 10px
    color: #fff
    background-color: $color_main2
    position: absolute
    top: 0
    right: 0
    padding: 2px 3px
    border-radius: 6px / 50%
    border-radius: calc(1ch + 3px) / 50%
    transform: translate(50%, -40%)
  &-active
    color: #fff
  &-active &-box:after
    content: ""
    position: absolute
    bottom: 2px
    left: 0
    right: 0
    height: 2px
    background-color: #fff