@import "~src/style/global"
@import "~src/style/animations"
@import "~src/style/cell"
@import "~src/style/choice"
@import "~src/style/field"
@import "~src/style/searchbox"
@import "~src/style/segment"
@import "~src/style/empty"